html {
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

.grey {
  background-color: #BCBCBC;
}

.lightgrey {
  background-color: lightgrey;
}

.tourimg {
  background-image: url('../images/sky.jpg');
  min-height: 800px;
  background-size: cover;
  background-position: center top;
  padding-top: 100px;
  position: relative;
}

.wrapper {
  max-width: 30em;
  margin: 0 auto;
}

.tw {
  color: white;
}

.signupimg {
  background-image: url('../images/type.jpg');
  min-height: 1000px;
  background-size: cover;
  background-position: center top;
  padding-top: 100px;
  position: relative;
}


@media only screen and (min-width: 15em) {

.signupimg {
  min-height: 300px;
}

.tourimg {
  min-height: 300px;
}
}

@media only screen and (min-width: 25em) {

.signupimg {
  min-height: 400px;
}

.tourimg {
  min-height: 400px;
}
}

@media only screen and (min-width: 38em) {

.signupimg {
    min-height: 600px;
}

.tourimg {
  min-height: 600px;
}
}
@media only screen and (min-width: 60em) {

.signupimg {
    min-height: 700px;
}

.tourimg {
  min-height: 700px;
}

h2 {
  padding-top: 4em;
}
}
