html {
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

.green {
  background-color: #234547;
}
.grey {
  background-color: #BCBCBC;
}

.ts {
  text-shadow: 1px 1px 1px #000;
}

.lightgrey {
  background-color: lightgrey;
}

.tourimg {
  background-image: url('../images/sky.jpg');
  min-height: 800px;
  background-size: cover;
  background-position: center top;
  padding-top: 100px;
  position: relative;
}

.wrapper {
  max-width: 31em;
  margin: 0 auto;
}

.tw {
  color: white;
}

.signupimg {
  background-image: url('../images/type.jpg');
  min-height: 1000px;
  background-size: cover;
  background-position: center top;
  padding-top: 100px;
  position: relative;
}

.pricingimg {
  background-image: url('../images/newsboy.jpg');
  min-height: 800px;
  background-size: cover;
  background-position: center top;
  padding-top: 100px;
  position: relative;
}

nav a {
  text-decoration: none;
  color: #000;
}
ol {
  list-style-type: none;
  padding-left: 0;
}
header li:hover{
  background-color: lightgrey;
}

header a:hover{
  color: white;
}

@media only screen and (min-width: 15em) {

.signupimg {
  min-height: 300px;
}

.tourimg {
  min-height: 300px;
}

.pricingimg {
  min-height: 300px;
}
}

@media only screen and (min-width: 25em) {

.signupimg {
  min-height: 400px;
}

.tourimg {
  min-height: 400px;
}

.pricingimg {
  min-height: 400px;
}

h2 {
  padding-top: 2.5em;
}
}

@media only screen and (min-width: 38em) {

.signupimg {
    min-height: 600px;
}

.tourimg {
  min-height: 600px;
}

.pricingimg {
  min-height: 600px;
}

h2 {
  padding-top: 4em;
}
}
@media only screen and (min-width: 60em) {

.signupimg {
    min-height: 700px;
}

.tourimg {
  min-height: 700px;
}

.pricingimg {
  min-height: 700px;
}
h2 {
  padding-top: 4em;
}
}
